<div class="card border-0">
  <div class="card-body">

<!--    <ds-search-form searchPlaceholder="Search ..." ></ds-search-form>-->
    <ds-sigma-homesidebar-search></ds-sigma-homesidebar-search>

    <h5 class="card-title">Browse</h5>
    <ul class="list-group border-0-li">
      <li class="list-group-item border-0">
        <a routerLink="/community-list" class=""> Communities & Collections</a>
      </li>
      <li class="list-group-item">
        <a routerLink="/browse/dateissued">Publication Date</a>
      </li>
      <li class="list-group-item">Posting Date</li>
      <li class="list-group-item">
        <a routerLink="/browse/author">Author</a></li>
      <li class="list-group-item">
        <a routerLink="/browse/title">Title</a>
      </li>
      <li class="list-group-item">
        <a routerLink="/browse/subject">Subject</a>
      </li>
      <li class="list-group-item">Item Type</li>
      <li class="list-group-item">Item Format</li>
      <li class="list-group-item">Level of Evidence</li>
      <li class="list-group-item">Research Approach</li>
      <li class="list-group-item">Subjects (CINAHL)</li>
      <li class="list-group-item">Sigma Chapters</li>
      <li class="list-group-item">Author Affiliations</li>
      <li class="list-group-item">Funders</li>
      <li class="list-group-item">Funders</li>
      <li class="list-group-item">Review Type</li>
    </ul>
  </div>
</div>

<div class="card border-0">
  <div class="card-body">
    <h5 class="card-title">My Account</h5>
    <ul class="list-group border-0-li">
      <li class="list-group-item border-0">
        <a routerLink="/login" class="">Login</a>
      </li>
      <li class="list-group-item border-0">
        <a routerLink="/register" class="">Register</a>
      </li>
    </ul>
  </div>
</div>
