

<div class="row">
  <div class="col-md-3 col-sm-4">
    THE SIDEBAR
    <ds-dso-page-edit-button [pageRoute]="itemPageRoute"
                             [dso]="object" [tooltipMsg]="'item.page.edit'"></ds-dso-page-edit-button>
  </div>
  <div class="col-md-9 col-sm-8">

    <h2 class="page-header first-page-header" *ngIf="object?.hasMetadata(['dc.title'])">
      {{ object.firstMetadataValue(['dc.title']) }}
    </h2>

    <div class="row">
      <div class="col-md-3 col-sm-4">
        <div class="card" id="thumbnail-card">
          <div class="card-header purple-bg"><h5 class="card-title">View File(s)</h5></div>
          <div class="card-body">
            <ng-container *ngIf="!mediaViewer.image">
              <ds-metadata-field-wrapper [hideIfNoTextContent]="false">
                <ds-thumbnail [thumbnail]="object?.thumbnail | async"></ds-thumbnail>
              </ds-metadata-field-wrapper>
              <ds-themed-item-page-file-section [item]="object"></ds-themed-item-page-file-section>
            </ng-container>
          </div>
        </div>
      </div>
      <div class="col-md-9 col-sm-8">
        <div class="card">
          <div class="card-header purple-bg">
            <h5 class="card-title">Item Information</h5>
          </div>
          <div class="card-body">

            <div class="card" *ngIf="object.hasMetadata(['dc.identifier.uri'])">
              <div class="card-header">
                <h6 class="card-title">Item Link - Use this link for citations and online mentions.</h6>
              </div>
              <div class="card-body">
                <ds-metadata-values [mdValues]="object?.allMetadata(['dc.identifier.uri'])"></ds-metadata-values>
              </div>
            </div>

            <div class="card mt-4" *ngIf="object.hasMetadata(['dc.description.abstract'])">
              <div class="card-header"><h6 class="card-title">Abstract</h6></div>
              <div class="card-body">
                <ds-metadata-values
                  [mdValues]="object?.allMetadata(['dc.description.abstract'])"></ds-metadata-values>
              </div>
            </div>

            <div class="card mt-4" *ngIf="object.hasMetadata(['dc.date.accessioned'])">
              <div class="card-header"><h6 class="card-title">Repository Posting Date</h6></div>
              <div class="card-body">
                <ds-metadata-values
                  [mdValues]="object?.allMetadata(['dc.date.accessioned'])"></ds-metadata-values>
              </div>
            </div>

            <div class="grid" #grid>
              <div class="grid-item">
                <div class="card">
                  <div class="card-header"><h6 class="card-title">Type Information</h6></div>
                  <div class="card-body">

                  </div>
                </div>
              </div>

              <div class="grid-item">
                <div class="card">
                  <div class="card-header"><h6 class="card-title">Category Information</h6></div>
                  <div class="card-body">

                  </div>
                </div>
              </div>
            </div>


          </div>
        </div>
      </div>
    </div>
  </div>
</div>
