
<div class="row">
  <div class="col-md-3 col-sm-4">
    <ds-dso-page-edit-button [pageRoute]="itemPageRoute"
                             [dso]="object" [tooltipMsg]="'item.page.edit'"></ds-dso-page-edit-button>
    <ds-sidebar></ds-sidebar>
  </div>
  <div class="col-md-9 col-sm-8">

    <div class="title-container">

      <h2 class="page-header first-page-header" *ngIf="object?.hasMetadata(['dc.title'])">
        {{ object.firstMetadataValue(['dc.title']) }}
      </h2>
      <div class="alert alert-dismissible alert-link alert-info m-2" *ngIf="object.hasMetadata(['dc.title.alternative'])">
        Other title(s) <i class="fas fa-caret-right fa-xs fa-fw"></i>
        <span class="badge text-bg-secondary">
          <ng-container *ngFor="let mdValue of object?.allMetadata(['dc.title.alternative']);">
            {{ mdValue.value }}
          </ng-container>
        </span>
      </div>
    </div>

    <div class="row">
      <div class="col-md-9 col-sm-8">

        <ds-truncatable [id]="object?.id" *ngIf="object.hasMetadata(['dc.description.abstract'])">
          <div class="abstract-container">
            <h1 class="">Abstract</h1>
            <ds-truncatable-part [id]="object.id" [minLines]="4">
              <p [innerHTML]="object?.firstMetadataValue('dc.description.abstract')"></p>
            </ds-truncatable-part>
          </div>
        </ds-truncatable>

        <div class="note-container" *ngIf="object.hasMetadata(['dc.description.note'])">
          <h1 class="">Notes</h1>
          <p class="note-text" [innerHTML]="object?.firstMetadataValue(['dc.description.note'])"></p>
        </div>

        <div class="description-container" *ngIf="object.hasMetadata(['dc.description'])">
          <h1 class="">Description</h1>
          <p class="description-text" [innerHTML]="object?.firstMetadataValue(['dc.description'])"></p>
        </div>

        <div class="sponsorship-container" *ngIf="object.hasMetadata(['dc.description.sponsorship'])">
          <h1 class="">Funders</h1>
          <p class="sponsorship-text" [innerHTML]="object?.firstMetadataValue(['dc.description.sponsorship'])"></p>
        </div>

        <div class="card" *ngIf="object.hasMetadata(['dc.identifier.uri'])">
          <div class="card-header purple-bg">
            <h6 class="card-title">Item Link - Use this link for citations and online mentions.</h6>
          </div>
          <div class="card-body p-2">
            <ng-container *ngFor="let mdValue of object?.allMetadata(['dc.identifier.uri']);">
              <a [href]="mdValue.value" target="_blank" >{{mdValue.value}}</a>
            </ng-container>
          </div>
        </div>

        <div  class="card mt-4" *ngIf="object.hasMetadata(['dc.rights.holder'])">
          <div class="card-header purple-bg"><h6 class="card-title">Rights Holder</h6></div>
          <div class="card-body">
            <ng-container *ngFor="let mdValue of object?.allMetadata(['dc.rights.holder']);">
              <div [innerHTML]="mdValue.value"></div>
            </ng-container>
          </div>
        </div>

        <div  class="card mt-4" *ngIf="object.hasMetadata(['dc.relation.embedded'])">
          <div class="card-header purple-bg"><h6 class="card-title">Audio/Video Embed</h6></div>
          <div class="card-body">
            <ng-container *ngFor="let mdValue of object?.allMetadata(['dc.relation.embedded']);">
              <div [innerHtml]="mdValue.value"></div>
            </ng-container>
          </div>
        </div>

        <div class="metadata-container mt-2" *ngIf="object.hasMetadata(['dc.type', 'dc.description.acquisition', 'dc.description.reviewstatus', 'dc.description.reviewtype'])">
          <h6 class="metadata-container-header">Type Information</h6>

          <button type="button" class="btn border m-2" *ngIf="object.hasMetadata(['dc.type'])">
            Type <i class="fas fa-caret-right fa-xs fa-fw"></i>
            <span class="badge text-bg-secondary">
              <ng-container *ngFor="let mdValue of object?.allMetadata(['dc.type']);">
                {{ mdValue.value }}
              </ng-container>
            </span>
          </button>

          <button type="button" class="btn border m-2" *ngIf="object.hasMetadata(['dc.description.acquisition'])">
            Acquisition <i class="fas fa-caret-right fa-xs fa-fw"></i>
            <span class="badge text-bg-secondary">
              <ng-container *ngFor="let mdValue of object?.allMetadata(['dc.description.acquisition']);">
                {{ mdValue.value }}
              </ng-container>
            </span>
          </button>

          <button type="button" class="btn border m-2" *ngIf="object.hasMetadata(['dc.description.reviewstype'])">
            Review Type <i class="fas fa-caret-right fa-xs fa-fw"></i>
            <span class="badge text-bg-secondary">
              <ng-container *ngFor="let mdValue of object?.allMetadata(['dc.description.reviewstype']);">
                {{ mdValue.value }}
              </ng-container>
            </span>
          </button>

          <button type="button" class="btn border m-2" *ngIf="object.hasMetadata(['dc.description.reviewstatus'])">
            Review Status <i class="fas fa-caret-right fa-xs fa-fw"></i>
            <span class="badge text-bg-secondary">
              <ng-container *ngFor="let mdValue of object?.allMetadata(['dc.description.reviewstatus']);">
                {{ mdValue.value }}
              </ng-container>
            </span>
          </button>

          <button type="button" class="btn border m-2" *ngIf="object.hasMetadata(['dc.format'])">
            Format <i class="fas fa-caret-right fa-xs fa-fw"></i>
            <span class="badge text-bg-secondary">
              <ng-container *ngFor="let mdValue of object?.allMetadata(['dc.format']);">
                {{ mdValue.value }}
              </ng-container>
            </span>
          </button>
        </div>

        <div class="metadata-container mt-4" *ngIf="object.hasMetadata(['dc.evidence.level', 'dc.research.approach', 'dc.subject.keyword', 'dc.subject'])">
          <h6 class="metadata-container-header">Category Information</h6>

          <button type="button" class="btn border m-2" *ngIf="object.hasMetadata(['dc.evidence.level'])">
            Evidence Level <i class="fas fa-caret-right fa-xs fa-fw"></i>
            <span class="badge text-bg-secondary">
              <ng-container *ngFor="let mdValue of object?.allMetadata(['dc.evidence.level']);">
                {{ mdValue.value }}
              </ng-container>
            </span>
          </button>

          <button type="button" class="btn border m-2" *ngIf="object.hasMetadata(['dc.research.approach'])">
            Research Approach <i class="fas fa-caret-right fa-xs fa-fw"></i>
            <span class="badge text-bg-secondary">
              <ng-container *ngFor="let mdValue of object?.allMetadata(['dc.research.approach']);">
                {{ mdValue.value }}
              </ng-container>
            </span>
          </button>

          <button type="button" class="btn border m-2" *ngIf="object.hasMetadata(['dc.subject'])">
            Subject(s) <i class="fas fa-caret-right fa-xs fa-fw"></i>
            <span class="badge text-bg-secondary">
              <ng-container *ngFor="let mdValue of object?.allMetadata(['dc.subject']);">
                {{ mdValue.value }};
              </ng-container>
            </span>
          </button>

          <button type="button" class="btn border m-2" *ngIf="object.hasMetadata(['dc.subject.keyword'])">
            Keyword(s) <i class="fas fa-caret-right fa-xs fa-fw"></i>
            <span class="badge text-bg-secondary">
              <ng-container *ngFor="let mdValue of object?.allMetadata(['dc.subject.keyword']);">
                {{ mdValue.value }}
              </ng-container>
            </span>
          </button>
        </div>

        <div class="metadata-container mt-4" *ngIf="object.hasMetadata(['dc.type.version', 'dc.date.accessioned', 'dc.date.issued', 'dc.publisher'])">
          <h6 class="metadata-container-header">Original Publication Info</h6>

          <button type="button" class="btn border m-2" *ngIf="object.hasMetadata(['dc.publisher'])">
            Publisher <i class="fas fa-caret-right fa-xs fa-fw"></i>
            <span class="badge text-bg-secondary">
              <ng-container *ngFor="let mdValue of object?.allMetadata(['dc.publisher']);">
                {{ mdValue.value }}
              </ng-container>
            </span>
          </button>

          <button type="button" class="btn border m-2" *ngIf="object.hasMetadata(['dc.date.issued'])">
            Date <i class="fas fa-caret-right fa-xs fa-fw"></i>
            <span class="badge text-bg-secondary">
              <ng-container *ngFor="let mdValue of object?.allMetadata(['dc.date.issued']);">
                {{ mdValue.value|date:'yyyy-MM-dd' }}
              </ng-container>
            </span>
          </button>

          <button type="button" class="btn border m-2" *ngIf="object.hasMetadata(['dc.date.accessioned'])">
            Posted <i class="fas fa-caret-right fa-xs fa-fw"></i>
            <span class="badge text-bg-secondary">
              <ng-container *ngFor="let mdValue of object?.allMetadata(['dc.date.accessioned']);">
                {{ mdValue.value|date:'yyyy-MM-dd' }}
              </ng-container>
            </span>
          </button>
        </div>

        <div class="metadata-container my-4" *ngIf="object.hasMetadata(['dc.conference.host', 'dc.conference.location', 'dc.conference.name', 'dc.date.conferenceyear'])">
          <h6 class="metadata-container-header">Conference Information</h6>

          <button type="button" class="btn border m-2" *ngIf="object.hasMetadata(['dc.conference.name'])">
            Name <i class="fas fa-chevron-right fa-xs fa-fw"></i>
            <span class="badge text-bg-secondary">
              <ng-container *ngFor="let mdValue of object?.allMetadata(['dc.conference.name']);">
                {{ mdValue.value }}
              </ng-container>
            </span>
          </button>

          <button type="button" class="btn border m-2" *ngIf="object.hasMetadata(['dc.conference.location'])">
            Location <i class="fas fa-chevron-right fa-xs fa-fw"></i>
            <span class="badge text-bg-secondary">
              <ng-container *ngFor="let mdValue of object?.allMetadata(['dc.conference.location']);">
                {{ mdValue.value }}
              </ng-container>
            </span>
          </button>

          <button type="button" class="btn border m-2" *ngIf="object.hasMetadata(['dc.conference.host'])">
            Host <i class="fas fa-chevron-right fa-xs fa-fw"></i>
            <span class="badge text-bg-secondary">
              <ng-container *ngFor="let mdValue of object?.allMetadata(['dc.conference.host']);">
                {{ mdValue.value }}
              </ng-container>
            </span>
          </button>

          <button type="button" class="btn border m-2" *ngIf="object.hasMetadata(['dc.date.conferenceyear'])">
            Year <i class="fas fa-chevron-right fa-xs fa-fw"></i>
            <span class="badge text-bg-secondary">
              <ng-container *ngFor="let mdValue of object?.allMetadata(['dc.date.conferenceyear']);">
                {{ mdValue.value }}
              </ng-container>
            </span>
          </button>
        </div>

        <div class="metadata-container my-4" *ngIf="object.hasMetadata(['thesis.degree.grantor', 'thesis.degree.level', 'thesis.degree.year'])">
          <h6 class="metadata-container-header">Degree Information</h6>

          <button type="button" class="btn border m-2" *ngIf="object.hasMetadata(['thesis.degree.grantor'])">
            Grantor <i class="fas fa-chevron-right fa-xs fa-fw"></i>
            <span class="badge text-bg-secondary">
              <ng-container *ngFor="let mdValue of object?.allMetadata(['thesis.degree.grantor']);">
                {{ mdValue.value }}
              </ng-container>
            </span>
          </button>

          <button type="button" class="btn border m-2" *ngIf="object.hasMetadata(['thesis.degree.level'])">
            Level <i class="fas fa-chevron-right fa-xs fa-fw"></i>
            <span class="badge text-bg-secondary">
              <ng-container *ngFor="let mdValue of object?.allMetadata(['thesis.degree.level']);">
                {{ mdValue.value }}
              </ng-container>
            </span>
          </button>

          <button type="button" class="btn border m-2" *ngIf="object.hasMetadata(['thesis.degree.year'])">
            Year <i class="fas fa-chevron-right fa-xs fa-fw"></i>
            <span class="badge text-bg-secondary">
              <ng-container *ngFor="let mdValue of object?.allMetadata(['thesis.degree.year']);">
                {{ mdValue.value }}
              </ng-container>
            </span>
          </button>

        </div>

      </div>

      <div class="col-md-3 col-sm-4 bg-light pt-3">
        <div class="card" id="thumbnail-card">
          <div class="card-header purple-bg"><h5 class="card-title">View File(s)</h5></div>
          <div class="card-body p-0 thumbnail-card">
            <ng-container *ngIf="!mediaViewer.image">
              <ds-metadata-field-wrapper [hideIfNoTextContent]="false">
                <ds-thumbnail [thumbnail]="object?.thumbnail | async"></ds-thumbnail>
              </ds-metadata-field-wrapper>
              <ds-themed-item-page-file-section [item]="object"></ds-themed-item-page-file-section>
            </ng-container>
          </div>
        </div>
        <div class="card mt-2">
          <div class="card-header purple-bg"><h5 class="card-title">Author Information</h5></div>
          <div class="card-body p-0">
            <ng-container *ngIf="object.hasMetadata(['dc.contributor.author']);">
              <h5 class="simple-view-element-header">Author(s)</h5>
              <ng-container *ngFor="let mdValue of object?.allMetadata(['dc.contributor.author']);">
                <div class="simple-view-element-body">
                  <a [href]="" >{{mdValue.value}}</a>
                </div>
              </ng-container>
            </ng-container>

            <ng-container *ngIf="object.hasMetadata(['dc.author.details']);">
              <h5 class="simple-view-element-header">Details</h5>
              <ng-container *ngFor="let mdValue of object?.allMetadata(['dc.author.details']);">
                <div class="simple-view-element-body">
                  <a [href]="" >{{mdValue.value}}</a>
                </div>
              </ng-container>
            </ng-container>

            <ng-container *ngIf="object.hasMetadata(['dc.contributor.department']);">
              <h5 class="simple-view-element-header">Sigma Affiliation</h5>
              <ng-container *ngFor="let mdValue of object?.allMetadata(['dc.contributor.department']);">
                <div class="simple-view-element-body">
                  <a [href]="" >{{mdValue.value}}</a>
                </div>
              </ng-container>
            </ng-container>

            <ng-container *ngIf="object.hasMetadata(['dc.contributor.affiliation']);">
              <h5 class="simple-view-element-header">Contributor Affiliation(s)</h5>
              <ng-container *ngFor="let mdValue of object?.allMetadata(['dc.contributor.affiliation']);">
                <div class="simple-view-element-body">
                  <a [href]="" >{{mdValue.value}}</a>
                </div>
              </ng-container>
            </ng-container>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
